# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#   foo.txt
# Ignore (generated) html files,
#   *.html
# except foo.html which is maintained by hand.
#   !foo.html
# Ignore objects and archives.
#   *.[oa]

.idea
vkrpg/config.yml
users.uql
*/__pycache__
battle_ai.py
battle_duel.py
battle_lobby.py
battle_mission.py
graal.py
main.py
menu_battle.py
menu_inventory.py
menu_main.py
