# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#   foo.txt
# Ignore (generated) html files,
#   *.html
# except foo.html which is maintained by hand.
#   !foo.html
# Ignore objects and archives.
#   *.[oa]

.idea
vkrpg/config.yml
users.uql
*/__pycache__

vkrpg/scripts/battle_ai.py
vkrpg/scripts/battle_duel.py
vkrpg/scripts/battle_lobby.py
vkrpg/scripts/battle_mission.py
vkrpg/scripts/graal.py
vkrpg/scripts/main.py
vkrpg/scripts/menu_battle.py
vkrpg/scripts/menu_inventory.py
vkrpg/scripts/menu_main.py
vkrpg/data/fate.db
vkrpg/data/text.json
vkrpg/data/servants
