# Ваш токен группы (обязательно разрешите доступ к сообщениям и фотографиям):
token: ''
# Айди вашей группы:
group_id: 0
# Префиксы вызова бота (нужны для вызова в беседах при включённом чтении всех сообщений в чате):
prefixes: ['']
# VKID администраторов бота:
admins: [0]
# Для меня (ну или для вас если хотите много дебага)
debug: false
